<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/images/login.png" id="icon" alt="User Icon" style="width: 130px;" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
        <input type="text" id="fullname" class="fadeIn third" name="fullname" placeholder="Full name">
        <input type="email" id="email" class="fadeIn fourth" name="email" placeholder="Email">
        <input type="text" id="role" class="fadeIn fifth" name="role" placeholder="Role">
        <input type="submit" class="fadeIn fourth" value="Register">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter" class="formFooter">
        
        <a class="underlineHover" [routerLink]="['../login']" >Login</a>
      </div>
  
    </div>
  </div>